.login{
  min-height: 100vh;
  background-image: url('../background.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%; 
}

.namecontainer{
    margin-left: 18%;
}
.name{
  font-size: 30px;
}
form{
  border-style: solid; 
  border-width: 10px; 
  border-color: white;
  margin-top: 10%;
  margin-left: 37.5%;
  max-width: 25%;
  background-color:rgb(227, 245, 234);
  box-shadow: -2px 2px 22px 5px rgb(36, 41, 36);
}
input[type=text], input[type=password] {
  width: 100%;
  padding: 5px 20px;
  height:30px;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}
button {
  background-color: #4CAF50;
  color: white;
  padding: 4px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
}
button:hover {
  opacity: 0.8;
}
.cancelbtn {
  width: auto;
  padding: 4px 18px;
  background-color: #f44336;
}
.imgcontainer {
  text-align: center;
  padding-top: 10px;
}
img.avatar {
  width: 30%;
  border-radius: 50%;
}
.container {
  padding: 10px;
}
.footer{
  padding: 5px;
  background-color:#5f8568
}
span.psw {
  float: right;
  padding-top: 16px;
}
/* Change styles for span and cancel button on extra small screens */
@media screen and (max-width: 300px) {
  span.psw {
    display: block;
    float: none;
  }
  .cancelbtn {
    width: 100%;
  }
}